* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

body {    
    overflow-x: hidden;
    background-image: linear-gradient(90deg, #2F4F4F,#000000);
}

aside {
    display: none;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    color: #f5f5f5;
    text-shadow: 2px 2px 10px #32CD32;
}

p {
    color: #f5f5f5;
    font-size: 2.5rem;
}

#menu_hamburguer {
    display: none;
}

.green_key {
    font-size: 3.5rem;
    color: #32CD32;
}


.btns_contact {
    padding: 0.3em;
    color: #000;
    border-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    transition: 0.5s;
    cursor: pointer;
    letter-spacing: 2px;
}

.linkedin {
    background-color: #0e76a8;
    color: #f5f5f5;
    text-shadow: 3px 3px #000;
}

.git_hub {
    background-color: #1C1C1C;
    color: #f5f5f5;
    text-shadow: 1px 1px #f5f5f5;
    transition: 0.5s;
}

.linkedin:hover {
    color: #0e76a8;
    background: #f5f5f5;
    transition: 0.5s;
    text-shadow: 2px 2px #0e76a8;
}

.git_hub:hover {
    color: #171515;
    background: #f5f5f5;
    transition: 0.5s;
    text-shadow: 2px 2px #171515;
}

#content_header {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.logo_name {
    display: flex;
    font-size: 5rem;
    align-items: center;
    color: #f5f5f5;
}

.container_photo {
    padding: 2em;
    border-radius: 50px;
}

.social_contact {
    padding: 2em;
}

.nav_links {
    display: flex;
    text-align: center;
}

.nav_links a {
    margin: 1em;
    border-left: 10px groove #32CD32;
    border-right: 10px groove #32CD32;
    border-radius: 20%;
    padding: 0.5em;
    color: #f5f5f5;
    text-decoration: none;
    transition: 0.2s;
}

.nav_links a:hover {
    border-left: 10px solid #f5f5f5;
    border-right: 10px solid #f5f5f5;
    color: #32CD32;
    transition: 0.2s;
}

.contact_links {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.contact_links a {
    text-decoration: none;
}


#main_container {
    display: flex;
}


.content_right {
    display: flex;
    flex: 40;
    justify-content: center;
    height: 50vh;
    font-size: 3rem;
    text-align: center;
    
}

.content_left {
    padding: 1em;
    flex: 60;
    text-align: center;
    border-radius: 50px;
    color: #f5f5f5;
}

.content_left h1 {
    margin: 0;
    padding: 1em;
}

.content_left p {
    font-size: 2.2rem;
}

#img_perfil {
    background-color: #f5f5f5;
    box-shadow: 10px 10px 20px #000, 20px 15px 30px #71b97c inset;
    border-radius: 50px 100px;
}

.text_content {
    width: 50vw;
    box-shadow: 10px 10px 20px #32CD32;
    border-radius: 20px;
}

#anchor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation-name: anchor_animation;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1000;
    opacity: 0.7;
}

@keyframes anchor_animation {
    from {margin-top: 20px;}
    to {margin-bottom: 20px;}
  }

.line {
    display: flex;
    justify-content: center;
}

.separator {
    border-top: 1px solid #32CD32;
    margin-top: 20em;
    width: 50%;
}

section {
     margin-top: 20em;
}


.container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 50vh;
    color: #f5f5f5;
}

.container_section p {
    font-size: 2rem;
    align-items: center;
}

.img_section {
    height: 30rem;
    border-radius: 20px;
    transition: 0.2s;
}

.img_section:hover{
    box-shadow: 10px 10px 20px #32CD32;
    transition: 0.2s;
}

.container_right_section {
    flex: 50;
    text-align: center;
}

.container_left_section {
    flex: 50;
    text-align: center;
}


.reverse {
    flex-direction: row-reverse;
}

.container_academic {
    display: flex;
    padding: 1em;
    font-size: 3.5rem;
    color: #f5f5f5;
    
}

h1 {
    text-align: center;
    margin-bottom: 3em;
    color: #f5f5f5;
    font-size: 3.5rem;
}


#section_academic {
    height: 70vh;
    text-align: center;
    border: 1px solid red;
}

.technologies {
    transition: 0.3s;
    opacity: 0.8;
    margin-top: 30em;
}

.technologies p {
    font-size: 1.8rem;
    padding: 1em;
}

.technologies img {
    padding: 2em;
}

.technologies:hover {
    opacity: 1;
    transition: 0.3s;
    font-weight: 400;
}

.img_tec {
    height: 10rem;
}

 #footer_contact {
    text-align: center;
}

#formSubmission {
   border-radius: 50px;
   padding: 2em;
   background: linear-gradient(45deg, #2F4F4F, #1C1C1C);
   color: #000;
   border: double 50px #1C1C1C;
}

#formSubmission input {
    font-size: 2.2rem;
    border-radius: 20px;
    padding: 0.5em;
    border: none;
    box-shadow: 10px 10px 20px #1C1C1C;
    outline: none;
    background-color: #1C1C1C;
    color: #f5f5f5;
}

#formSubmission textarea {
    font-size: 3rem;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 10px #1C1C1C;
    outline: none;
    background-color: #1C1C1C;
    color: #f5f5f5;
    padding: 0.5em;
}
  
#formSubmission label {
    font-size: 2.5rem;
    color: #f5f5f5;
    margin: 0.5em;
}

.btn-footer {
    font-size: 1.2em;
    transition: 0.5s;
}

.btn-footer:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.container_sec {
    display: grid;
    grid-template-columns: auto auto;
    border: double 20px #2F4F4F;
    border-radius: 50px;
    background-color: #1C1C1C;
    justify-content: center;
    text-align: center;
}

.container_contact {
    font-size: 4rem;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    height: 90vh;
}


footer {
    margin-top: 20em;
}

form {
    display: flex;
    flex-direction: column;
}

.div_btns_form {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 3em;
}

.btns_form {
    padding: 0.5em;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 10px 10px 10px #1C1C1C;
    cursor: pointer;
}

#btn_clear {
    background-color:#FF0000;
    color: #f5f5f5;
    outline: none;
}


#btn_send {
    background-color:#32CD32;
    color: #f5f5f5;
    outline: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #content_header {
        justify-content: space-between;
        /* flex-direction: row-reverse; */
    }

    aside {
        display: flex;
    }

    aside nav {
        display: flex;
    }

    .container_sec {
        display: grid;
        grid-template-columns: auto;
        border: double 20px #2F4F4F;
        border-radius: 50px;
        background-color: #1C1C1C;
    }
     

    .dropdown-menu.show {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        transition: 0.3s;
        overflow-x: hidden;
        opacity: 0.8;
    }
    .dropleft .dropdown-menu {
        margin-top: 0;
        margin-right: 0.125rem;
        
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 5rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 5rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 1em;
        height: 59vh;
        background-color: #1C1C1C;
    }

    nav .secondary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
    }

    nav .primary {
        display: none;
    }

    #anchor_img {
        height: 50px;
    }

    h1 {
        font-size: 2.5rem;
    }

    #menu_hamburguer {
        display: inline-block;
        cursor: pointer;
    }

    .logo_name {
        justify-content: start;
        font-size: 4rem;
    }

    #main_container {
        flex-direction: column;
        
    }

    .content_left {
        display: flex;
        justify-content: center;
    }

    .content_left p {
        font-size: 1.5rem;
    }

    .text_content {
        width: 80vw;
        box-shadow: none;
        
    }

    #img_perfil {
        height: 250px;
    }

    .contact_links a {
        font-size: 2rem;
    }


    .container_section {
        flex-direction: column;
    }


    .container_section p {
        font-size: 1.5rem;
        align-items: center;
        width: 90vw;
    }

    .img_section {
        height: 10rem;
    }

    .container_section {
        padding: 2em;
    }

    .container_section h2{
        font-size: 2rem;
        margin-top: 1em;
    }

    .container_sec {
        border: none;
        padding: 1em;
        margin-top: 10em;
        border-radius: 0;
    }

    .container_sec h2{
        font-size: 2rem;
        margin-top: 1em;
    }

    .container_sec img {
        height: 7rem;
    }

    .container_sec p {
        font-size: 1.5rem;
    }

    .technologies {
        margin-top: 30em;
    }

    #formSubmission {
        border-radius: 0;
        padding: 1em;
        background: linear-gradient(45deg, #2F4F4F, #1C1C1C);
        color: #000;
        border: double 20px #1C1C1C;
    }

    #formSubmission input {
        font-size: 2rem;
        border-radius: 20px;
        padding: 0.9em;
        border: none;
        box-shadow: 10px 10px 20px #1C1C1C;
        outline: none;
        background-color: #1C1C1C;
        color: #f5f5f5;
    }

    #formSubmission textarea {
        font-size: 2.5rem;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #1C1C1C;
        outline: none;
        background-color: #1C1C1C;
        color: #f5f5f5;
        padding: 0.5em;
    }
      
    #formSubmission label {
        font-size: 2.4rem;
        color: #f5f5f5;
        margin: 0.5em;
    }

    .btns_form {
        padding: 0.5em;
        border-radius: 10px;
        font-size: 1.5rem;
        box-shadow: 10px 10px 10px #1C1C1C;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #content_header {
        justify-content: space-around;
        /* flex-direction: row-reverse; */
    }

    .nav_links a {
        font-size: 1.8rem;
    }

    .logo_name strong{
        font-size: 2.5rem;
    }

    #anchor_img {
        height: 50px;
    }

    h1 {
        font-size: 3rem;
    }

    #main_container {
        flex-direction: column;
        
    }

    .content_left {
        display: flex;
        justify-content: center;
    }

    .content_left p {
        /* width: 80vw; */
        font-size: 1.7rem;
        
    }

    .text_content {
        width: 80vw;
        box-shadow: none;
        
    }

    #img_perfil {
        height: 280px;
    }
        
    .contact_links a {
        font-size: 2rem;
    }


    .container_section {
        flex-direction: column;
    }


    .container_section p {
        font-size: 2rem;
        align-items: center;
        width: 90vw;
    }

    .img_section {
        height: 15rem;
    }

    .container_section {
        padding: 2em;
    }

    .container_section h2{
        font-size: 2rem;
        margin-top: 1em;
    }

    .container_sec {
        border: none;
        padding: 1em;
        margin-top: 10em;
        border-radius: 0;
    }

    .container_sec h2{
        font-size: 2rem;
        margin-top: 1em;
    }

    .container_sec img {
        height: 7rem;
    }

    .container_sec p {
        font-size: 1.5rem;
    }

    .technologies {
        margin-top: 30em;
    }

    #formSubmission {
        border-radius: 0;
        padding: 1em;
        background: linear-gradient(45deg, #2F4F4F, #1C1C1C);
        color: #000;
        border: double 20px #1C1C1C;
    }

    #formSubmission input {
        font-size: 2rem;
        border-radius: 20px;
        padding: 0.9em;
        border: none;
        box-shadow: 10px 10px 20px #1C1C1C;
        outline: none;
        background-color: #1C1C1C;
        color: #f5f5f5;
    }

    #formSubmission textarea {
        font-size: 2.5rem;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #1C1C1C;
        outline: none;
        background-color: #1C1C1C;
        color: #f5f5f5;
        padding: 0.5em;
    }
      
    #formSubmission label {
        font-size: 2.4rem;
        color: #f5f5f5;
        margin: 0.5em;
    }

    .btns_form {
        padding: 0.5em;
        border-radius: 10px;
        font-size: 1.5rem;
        box-shadow: 10px 10px 10px #1C1C1C;
        cursor: pointer;
    }
}

